
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#VueApp {
    display:block;
    margin: 0 auto;
    width: 75%;
    box-shadow: 10px 10px 10px 10px;
    color: black;
    margin-top:10%;
    padding: 10px;
    background: linear-gradient(white, grey)
    
}
.male {
    color: blue;
    
}
.female {
    color: red;
    
}
img {
    width:100%;
    box-shadow:5px 5px 5px 5px;
}